body {
  font-family: "Roboto", serif;
  background: #c1a0f0;
  margin: 0;
  padding: 0;
}

.register-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 650px;
  box-sizing: border-box;
  margin: 40px auto;
}

.form-group {
  margin-bottom: 20px;
}

.register-form h2 {
  margin-top: 0;
}

.register-form input.form-control,
.register-form select.form-control,
.register-form select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.register-form label {
  display: block;
  margin: 10px 0 5px;
}

.register-form .checkbox-group {
  display: flex;
  align-items: center;
}

.register-form .checkbox-group input {
  margin-right: 10px;
}

.register-form .checkbox-group label {
  margin-right: 20px;
}

.register-form .birthdate-group {
  display: flex;
  justify-content: space-between;
}

.register-form .birthdate-group select {
  width: 30%;
}

.register-form .btn-group {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 20px;
}

.register-form button {
  flex: 1;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.register-form button:hover {
  background-color: #333;
  cursor: pointer;
}

.register-form .footer-text {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-top: 10px;
}

.m-0 {
  margin: 0;
}

.gender-group-sec fieldset {
  flex: 1;
}

.gender-group-sec {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  gap: 15px;
  flex-wrap: wrap;
}
